* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 62, 5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body .logo {
  color: rgb(253, 41, 105);
  text-align: center;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.facebook :hover {
  color: #1877f2;
  transform: scale(1.3);
}

.instagram :hover {
  color: #c92394;
  transform: scale(1.3);
}

.whatsapp :hover {
  color: #00bf5f;
  transform: scale(1.3);
}

.facebook :active {
  color: #1877f2;
}

.instagram :active {
  color: #c92394;
}

.whatsapp :active {
  color: #00bf5f;
}

.body.overflow {
  overflow: hidden;
}

body .header.position {
  position: inherit;
}
body .header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
body .header .nav.visible {
  opacity: 1;
  visibility: visible;
}
body .header .nav {
  opacity: 0;
  visibility: hidden;
  padding: 20px;
  background-color: #2a2a2a;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 0.3s;
}
body .header .nav p {
  padding: 5px;
  border-radius: 40px;
}
body .header .nav li {
  margin: 40px;
}
body .header .nav li a {
  color: aliceblue;
  font-size: large;
}
body .header .nav li a:hover {
  color: rgb(253, 41, 105);
}
body .header .nav .iconos-redes {
  text-align: center;
}
body .header .nav .iconos-redes a {
  padding: 10px;
  text-align: center;
  color: rgb(104, 104, 104);
}
body .header .menu-icon {
  font-size: x-large;
  color: rgb(253, 41, 105);
  transition: 0.3s ease;
  cursor: pointer;
}
body .header .menu-icon:hover {
  transform: scale(1.3);
}
body .header .menu-icon:active {
  transform: scale(1.3);
}
body .header .button-cerrar {
  padding: 5px;
  border: 0;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.25rem;
  background-color: rgba(253, 245, 230, 0.668);
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 181px;
}
body .header .carrito-logo {
  display: flex;
  font-size: x-large;
  color: rgb(253, 41, 105);
  transition: 0.3s ease;
}
body .header .carrito-logo:hover {
  transform: scale(1.3);
}
body footer {
  background-color: #2a2a2a;
  margin-top: 5px;
  text-align: center;
}
body footer p {
  color: rgb(149, 149, 149);
}
body footer ul {
  padding: 10px;
}
body footer ul li {
  padding: 10px;
}
body footer ul li a {
  color: rgb(194, 194, 194);
}
body footer .iconos-redes {
  padding: 10px;
}
body footer .iconos-redes a {
  color: rgb(194, 194, 194);
  padding: 10px;
}

.main-index {
  display: flex;
  flex-direction: column;
  /*Text*/
  /*Button*/
  /*Hover*/
}
.main-index .section-1 {
  margin: 15px;
  border-radius: 10px;
  background-color: rgb(253, 41, 105);
  width: 93%;
  height: 19vh;
}
.main-index .section-1 .img-1 img {
  width: 100px;
  height: 105px;
  margin-top: 20px;
  position: absolute;
  left: 2px;
}
.main-index .section-1 .texts {
  text-align: center;
  padding-top: 18px;
  padding-left: 30px;
  color: #f5f5f5;
}
.main-index .section-1 .img-2 img {
  width: 90px;
  height: 90px;
  margin-top: 30px;
  position: absolute;
  right: 1px;
}
.main-index .section-2 h2 {
  margin-top: 10px;
  padding-left: 10px;
}
.main-index .section-2 .categorias-ul {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.main-index .section-2 .categorias-ul button {
  width: 75px;
  height: 25px;
  border: 2px solid rgb(253, 41, 105);
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 0.8em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.main-index .section-2 .categorias-ul button:hover {
  background: rgb(253, 41, 105);
  color: white;
  font-size: 0.9em;
}
.main-index .section-2 .categorias-ul button:active {
  transform: scale(1.1);
}
.main-index .section-2 .categorias-ul button img {
  width: 15px;
  height: 15px;
}
.main-index .section-2 .categorias-ul .active {
  background: rgb(253, 41, 105);
  color: #ddd;
}
.main-index .card {
  margin: 10px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.main-index .card-div1 {
  display: flex;
}
.main-index .card-img {
  margin-bottom: 10px;
  background-color: rgb(253, 41, 105);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  transition: 0.3s ease;
}
.main-index .card-img img {
  object-fit: cover;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  transition: 0.3s ease;
}
.main-index .card-info {
  padding-top: 5%;
  padding-left: 5%;
}
.main-index svg {
  width: 25px;
  height: 25px;
}
.main-index .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
.main-index .text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}
.main-index .text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}
.main-index .card-precio {
  padding-left: 20px;
}
.main-index .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}
.main-index .card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.main-index .card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}
.main-index .button-comprar {
  background-color: transparent;
  border: none;
}

.main-carrito {
  margin: 10px;
}
.main-carrito .disable {
  display: none;
}
.main-carrito .carrito-productos {
  margin-top: 10px;
  padding: 0.8em;
  background: #f5f5f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.main-carrito .carrito-productos .carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-carrito .carrito-productos .carrito-producto img {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}
.main-carrito .carrito-productos .carrito-eliminar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  top: 21px;
  left: 5px;
}
.main-carrito .carrito-productos .carrito-eliminar:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}
.main-carrito .carrito-productos .carrito-eliminar .svgIcon {
  width: 10px;
  transition-duration: 0.3s;
}
.main-carrito .carrito-productos .carrito-eliminar .svgIcon:hover {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(45%);
}
.main-carrito .carrito-productos .carrito-eliminar .svgIcon path {
  fill: white;
}
.main-carrito .contenedor-resumen {
  margin-top: 10px;
  padding: 10px;
  background-color: #e8f6fd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.main-carrito .contenedor-resumen h3 {
  margin-bottom: 10px;
}
.main-carrito .contenedor-resumen .resumen-precios {
  display: flex;
  justify-content: space-between;
}
.main-carrito .contenedor-resumen .resumen-precios p {
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
