* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: 62,5%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


//  margin, padding, border de cajas

$margin: 10px;

$padding: 10px;

$border-radius: 10px;

//    colores del sitio

$text-color:
black
rgb(253, 41, 105);
